.form-card {
    width: 50%; 
    margin: 20px auto;
    padding: 5px; 
    border-radius: 5px; 
    background: #fff;
    border: 1px solid black; 
}

.form-card form {   
    display: flex;
    flex-direction: column;
}

.form-card form  input {
    padding: 5px; 
    margin: 10px auto;
}
